{
	"info": { "title": "API - shyftplan", "version": "0.0.1" },
	"swagger": "2.0",
	"produces": ["application/json"],
	"host": "release.sppt-beta.com",
	"tags": [
		{ "name": "sessions", "description": "Operations about sessions" },
		{ "name": "absences", "description": "Operations about absences" },
		{ "name": "absence_reasons", "description": "Operations about absence_reasons" },
		{ "name": "assignment_groups", "description": "Operations about assignment_groups" },
		{ "name": "availabilities", "description": "Operations about availabilities" },
		{
			"name": "availability_aggregations",
			"description": "Operations about availability_aggregations"
		},
		{ "name": "background_jobs", "description": "Operations about background_jobs" },
		{ "name": "bulk_requests", "description": "Operations about bulk_requests" },
		{ "name": "chat_messages", "description": "Operations about chat_messages" },
		{ "name": "calendar", "description": "Operations about calendars" },
		{ "name": "companies", "description": "Operations about companies" },
		{ "name": "custom_fields", "description": "Operations about custom_fields" },
		{ "name": "employee_evaluations", "description": "Operations about employee_evaluations" },
		{ "name": "employments", "description": "Operations about employments" },
		{ "name": "employments_paygrades", "description": "Operations about employments_paygrades" },
		{ "name": "employments_positions", "description": "Operations about employments_positions" },
		{
			"name": "employments_rotation_groups",
			"description": "Operations about employments_rotation_groups"
		},
		{ "name": "employments_surveys", "description": "Operations about employments_surveys" },
		{ "name": "evaluation_breaks", "description": "Operations about evaluation_breaks" },
		{ "name": "evaluations", "description": "Operations about evaluations" },
		{ "name": "individual_rotations", "description": "Operations about individual_rotations" },
		{ "name": "languages", "description": "Operations about languages" },
		{ "name": "live_staff_shifts", "description": "Operations about live_staff_shifts" },
		{ "name": "locations", "description": "Operations about locations" },
		{ "name": "locations_positions", "description": "Operations about locations_positions" },
		{ "name": "newsfeeds", "description": "Operations about newsfeeds" },
		{
			"name": "notification_configurations",
			"description": "Operations about notification_configurations"
		},
		{ "name": "paygrade_types", "description": "Operations about paygrade_types" },
		{ "name": "shifts", "description": "Operations about shifts" },
		{ "name": "payments", "description": "Operations about payments" },
		{ "name": "payslips", "description": "Operations about payslips" },
		{ "name": "positions", "description": "Operations about positions" },
		{ "name": "punch_timings", "description": "Operations about punch_timings" },
		{ "name": "qualifications", "description": "Operations about qualifications" },
		{ "name": "replaced_evaluations", "description": "Operations about replaced_evaluations" },
		{ "name": "replace_requests", "description": "Operations about replace_requests" },
		{ "name": "requests", "description": "Operations about requests" },
		{ "name": "rights", "description": "Operations about rights" },
		{
			"name": "shift_assignment_groups",
			"description": "Operations about shift_assignment_groups"
		},
		{ "name": "shiftplans", "description": "Operations about shiftplans" },
		{ "name": "shift_breaks", "description": "Operations about shift_breaks" },
		{ "name": "shifts_tags", "description": "Operations about shifts_tags" },
		{ "name": "shift_presets", "description": "Operations about shift_presets" },
		{ "name": "shift_rotations", "description": "Operations about shift_rotations" },
		{ "name": "shift_rotation_groups", "description": "Operations about shift_rotation_groups" },
		{ "name": "special_dates", "description": "Operations about special_dates" },
		{ "name": "sso_settings", "description": "Operations about sso_settings" },
		{ "name": "staff_shifts", "description": "Operations about staff_shifts" },
		{ "name": "staff_shifts_tags", "description": "Operations about staff_shifts_tags" },
		{ "name": "tags", "description": "Operations about tags" },
		{ "name": "users", "description": "Operations about users" },
		{ "name": "absence_entitlements", "description": "Operations about absence_entitlements" },
		{ "name": "login", "description": "Operations about logins" }
	],
	"paths": {
		"/api/v1/sessions/refresh": {
			"post": {
				"description": "Refresh user session",
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "company_id",
						"description": "Company ID",
						"type": "string",
						"required": true
					}
				],
				"responses": {
					"201": {
						"description": "Successfully updated",
						"schema": { "$ref": "#/definitions/V1_Entities_ResponseSuccess" }
					},
					"404": {
						"description": "Couldn't find Company",
						"schema": { "$ref": "#/definitions/V1_Entities_NotFoundError" }
					},
					"401": {
						"description": "Unauthorized",
						"schema": { "$ref": "#/definitions/V1_Entities_UserUnauthorizedError" }
					},
					"403": {
						"description": "forbidden",
						"schema": { "$ref": "#/definitions/V1_Entities_ForbiddenError" }
					}
				},
				"tags": ["sessions"],
				"operationId": "postApiV1SessionsRefresh"
			}
		},
		"/api/v1/absences/employments": {
			"get": {
				"description": "List all Employments which can be seen on Absences.",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"description": "Single Company ID",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "query",
						"name": "page",
						"description": "Pages starts with 1",
						"type": "integer",
						"format": "int32",
						"default": 1,
						"required": false
					},
					{
						"in": "query",
						"name": "per_page",
						"description": "Between 1 and 1000",
						"type": "integer",
						"format": "int32",
						"default": 1000,
						"required": false
					},
					{
						"in": "query",
						"name": "updated_after",
						"description": "Return all records which are updated after",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "created_after",
						"description": "Return all records which are created after",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "updated_before",
						"description": "Return all records which are updated before",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "created_before",
						"description": "Return all records which are created before",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "id",
						"description": "Single Employment ID",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "query",
						"name": "ids[]",
						"description": "Array of Employment ID",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"collectionFormat": "multi",
						"required": false
					},
					{
						"in": "query",
						"name": "company_ids[]",
						"description": "Array of Company ID",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"collectionFormat": "multi",
						"required": false
					},
					{
						"in": "query",
						"name": "with_deleted",
						"description": "Include soft-deleted employments",
						"type": "boolean",
						"default": false,
						"required": false
					},
					{
						"in": "query",
						"name": "order_key",
						"description": "Sort Employments",
						"type": "string",
						"default": "last_name",
						"enum": ["id", "last_name", "first_name"],
						"required": false
					},
					{
						"in": "query",
						"name": "order_dir",
						"description": "Sort Employments",
						"type": "string",
						"default": "asc",
						"enum": ["asc", "desc"],
						"required": false
					}
				],
				"responses": {
					"200": { "description": "List all Employments which can be seen on Absences." }
				},
				"tags": ["absences"],
				"operationId": "getApiV1AbsencesEmployments"
			}
		},
		"/api/v1/absences/employments/{id}/absence_info": {
			"get": {
				"description": "Return absence info of Employment for given dates",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "path",
						"name": "id",
						"description": "Employment id.",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "query",
						"name": "starts_at",
						"description": "Start of Absence.",
						"type": "string",
						"format": "date-time",
						"required": true
					},
					{
						"in": "query",
						"name": "ends_at",
						"description": "End of Absence.",
						"type": "string",
						"format": "date-time",
						"required": true
					},
					{
						"in": "query",
						"name": "absence_days",
						"description": "Number of days of absence",
						"type": "number",
						"format": "float",
						"required": false
					},
					{
						"in": "query",
						"name": "absence_reason_id",
						"description": "Absence Reason ID. If not present, the first absence reason is taken",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "query",
						"name": "is_full_day",
						"description": "Is the Absence for the full day(s).",
						"type": "boolean",
						"default": true,
						"required": false
					}
				],
				"responses": {
					"200": { "description": "Return absence info of Employment for given dates" }
				},
				"tags": ["absences"],
				"operationId": "getApiV1AbsencesEmploymentsIdAbsenceInfo"
			}
		},
		"/api/v1/absences/employments/{id}/carry_over_info": {
			"get": {
				"description": "Return carryover info of Employment for given period.Absence Reason should have carryover days enabled.Period should be within one year and include carry over days.",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "path",
						"name": "id",
						"description": "Employment id.",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "query",
						"name": "absence_reason_id",
						"description": "Absence Reason ID",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "query",
						"name": "starts_at",
						"description": "Start of the period.",
						"type": "string",
						"format": "date-time",
						"required": true
					},
					{
						"in": "query",
						"name": "ends_at",
						"description": "End of the period.",
						"type": "string",
						"format": "date-time",
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "Stats about requested period",
						"schema": { "$ref": "#/definitions/V1_AbsenceResponseEntity_CarryOverInfoResponse" }
					},
					"400.1": {
						"description": "Employment is not found",
						"schema": { "$ref": "#/definitions/V1_Entities_EmploymentNotFoundError" }
					},
					"400.2": {
						"description": "Absence Reason is not found",
						"schema": { "$ref": "#/definitions/V1_Entities_AbsenceReasonNotFoundError" }
					},
					"400.3": {
						"description": "Carryover days are disabled",
						"schema": { "$ref": "#/definitions/V1_AbsenceResponseEntity_CarryOverDisabledError" }
					},
					"400.4": {
						"description": "Time period is not supported",
						"schema": { "$ref": "#/definitions/V1_AbsenceResponseEntity_NotSupportedRangeError" }
					}
				},
				"tags": ["absences"],
				"operationId": "getApiV1AbsencesEmploymentsIdCarryOverInfo"
			}
		},
		"/api/v1/absences/employments/{id}": {
			"get": {
				"description": "Return a Employment which can be seen on Absences.",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "path",
						"name": "id",
						"description": "Employment id.",
						"type": "integer",
						"format": "int32",
						"required": true
					}
				],
				"responses": {
					"200": { "description": "Return a Employment which can be seen on Absences." }
				},
				"tags": ["absences"],
				"operationId": "getApiV1AbsencesEmploymentsId"
			}
		},
		"/api/v1/absences/{id}/withdraw": {
			"post": {
				"description": "Withdraw a Absence.",
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "path",
						"name": "id",
						"description": "Absence id.",
						"type": "integer",
						"format": "int32",
						"required": true
					}
				],
				"responses": { "201": { "description": "Withdraw a Absence." } },
				"tags": ["absences"],
				"operationId": "postApiV1AbsencesIdWithdraw"
			}
		},
		"/api/v1/absences/{id}": {
			"put": {
				"description": "Update a Absence",
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "path",
						"name": "id",
						"description": "Absence id.",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "formData",
						"name": "starts_at",
						"description": "Start of Absence.",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "formData",
						"name": "ends_at",
						"description": "End of Absence.",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "formData",
						"name": "absence_reason_id",
						"description": "Absence Reason ID",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "formData",
						"name": "days",
						"description": "Number of days from Absence.",
						"type": "number",
						"format": "float",
						"required": false
					},
					{
						"in": "formData",
						"name": "state",
						"description": "State of Absence.",
						"type": "string",
						"default": "new",
						"enum": ["new", "refused", "accepted", "withdrawn"],
						"required": false
					},
					{
						"in": "formData",
						"name": "refuse_message",
						"description": "Message explaining why the absence is declined",
						"type": "string",
						"required": false
					},
					{
						"in": "formData",
						"name": "notes",
						"description": "Note of Absence.",
						"type": "string",
						"required": false
					},
					{
						"in": "formData",
						"name": "paid",
						"description": "Defines if Absence is paid.",
						"type": "boolean",
						"required": false
					},
					{
						"in": "formData",
						"name": "force_collision",
						"description": "Create absences even when conflicts exists when set to true.",
						"type": "boolean",
						"required": false
					},
					{
						"in": "formData",
						"name": "force_collision_and_remove",
						"description": "Remove staff from conflicting Shifts.",
						"type": "boolean",
						"required": false
					},
					{
						"in": "formData",
						"name": "is_full_day",
						"description": "Is the Absence for the full day(s).",
						"type": "boolean",
						"default": true,
						"required": false
					}
				],
				"responses": {
					"200": {
						"description": "Successfully updated",
						"schema": { "$ref": "#/definitions/V1_AbsenceResponseEntity_AbsenceResponse" }
					},
					"401": {
						"description": "401 Unauthorized",
						"schema": { "$ref": "#/definitions/V1_Entities_UnauthorizedError" }
					},
					"404": {
						"description": "Couldn't find absence",
						"schema": { "$ref": "#/definitions/V1_Entities_NotFoundError" }
					},
					"422": {
						"description": "Carryover days are disabled for this Absence Reason",
						"schema": { "$ref": "#/definitions/V1_AbsenceResponseEntity_NotSupportedRangeError" }
					}
				},
				"tags": ["absences"],
				"operationId": "putApiV1AbsencesId"
			},
			"delete": {
				"description": "Delete a Absence.",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "path",
						"name": "id",
						"description": "Absence ID",
						"type": "integer",
						"format": "int32",
						"required": true
					}
				],
				"responses": { "204": { "description": "Delete a Absence." } },
				"tags": ["absences"],
				"operationId": "deleteApiV1AbsencesId"
			},
			"get": {
				"description": "Return a Absence.",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "path",
						"name": "id",
						"description": "Absence ID",
						"type": "integer",
						"format": "int32",
						"required": true
					}
				],
				"responses": { "200": { "description": "Return a Absence." } },
				"tags": ["absences"],
				"operationId": "getApiV1AbsencesId"
			}
		},
		"/api/v1/absences/{id}/decline": {
			"post": {
				"description": "Decline a Absence.",
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "path",
						"name": "id",
						"description": "Absence ID",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "formData",
						"name": "refuse_message",
						"description": "Message explaining why the absence is declined",
						"type": "string",
						"required": false
					}
				],
				"responses": { "201": { "description": "Decline a Absence." } },
				"tags": ["absences"],
				"operationId": "postApiV1AbsencesIdDecline"
			}
		},
		"/api/v1/absences/{id}/approve": {
			"post": {
				"description": "Approve a Absence.",
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "path",
						"name": "id",
						"description": "Absence ID",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "formData",
						"name": "force_collision",
						"description": "Create absences even when conflicts exists when set to true.",
						"type": "boolean",
						"required": false
					},
					{
						"in": "formData",
						"name": "force_collision_and_remove",
						"description": "Remove staff from conflicting Shifts.",
						"type": "boolean",
						"required": false
					}
				],
				"responses": { "201": { "description": "Approve a Absence." } },
				"tags": ["absences"],
				"operationId": "postApiV1AbsencesIdApprove"
			}
		},
		"/api/v1/absences/{id}/attachment": {
			"post": {
				"description": "Add attachment to an absence",
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "path",
						"name": "id",
						"description": "Absence ID",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "formData",
						"name": "file",
						"description": "Attachment file (\u003c= 5MB)",
						"type": "file",
						"required": true
					}
				],
				"responses": { "201": { "description": "Add attachment to an absence" } },
				"tags": ["absences"],
				"operationId": "postApiV1AbsencesIdAttachment"
			}
		},
		"/api/v1/absences": {
			"get": {
				"description": "List all Absences",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"description": "Single Company ID",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "query",
						"name": "page",
						"description": "Pages starts with 1",
						"type": "integer",
						"format": "int32",
						"default": 1,
						"required": false
					},
					{
						"in": "query",
						"name": "per_page",
						"description": "Between 1 and 1000",
						"type": "integer",
						"format": "int32",
						"default": 1000,
						"required": false
					},
					{
						"in": "query",
						"name": "updated_after",
						"description": "Return all records which are updated after",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "created_after",
						"description": "Return all records which are created after",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "updated_before",
						"description": "Return all records which are updated before",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "created_before",
						"description": "Return all records which are created before",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "id",
						"description": "Single Absence ID",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "query",
						"name": "ids[]",
						"description": "Array of Absence ID",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"collectionFormat": "multi",
						"required": false
					},
					{
						"in": "query",
						"name": "company_ids[]",
						"description": "Array of Company ID",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"collectionFormat": "multi",
						"required": false
					},
					{
						"in": "query",
						"name": "absence_reason_id",
						"description": "Single Absence Reason ID",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "query",
						"name": "absence_reason_ids[]",
						"description": "Array of Absence Reason ID",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"collectionFormat": "multi",
						"required": false
					},
					{
						"in": "query",
						"name": "employment_id",
						"description": "Single Employment ID",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "query",
						"name": "employment_ids[]",
						"description": "Array of Employment ID",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"collectionFormat": "multi",
						"required": false
					},
					{
						"in": "query",
						"name": "emp_staff_number",
						"description": "Single Employment staff number",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "query",
						"name": "emp_staff_numbers[]",
						"description": "Array of Employment  staff number",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"collectionFormat": "multi",
						"required": false
					},
					{
						"in": "query",
						"name": "emp_status",
						"description": "Single employment status",
						"type": "string",
						"enum": ["inactive", "active", "destroyed", "noemail"],
						"required": false
					},
					{
						"in": "query",
						"name": "emp_statuses[]",
						"description": "Array of employment statuses",
						"type": "array",
						"items": { "type": "string", "enum": ["inactive", "active", "destroyed", "noemail"] },
						"collectionFormat": "multi",
						"required": false
					},
					{
						"in": "query",
						"name": "location_id",
						"description": "Single Location ID",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "query",
						"name": "location_ids[]",
						"description": "Array of Location ID",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"collectionFormat": "multi",
						"required": false
					},
					{
						"in": "query",
						"name": "state",
						"description": "State of absence",
						"type": "string",
						"enum": ["new", "accepted", "refused", "withdrawn"],
						"required": false
					},
					{
						"in": "query",
						"name": "states[]",
						"description": "Array of states of absences",
						"type": "array",
						"items": { "type": "string", "enum": ["new", "accepted", "refused", "withdrawn"] },
						"collectionFormat": "multi",
						"required": false
					},
					{
						"in": "query",
						"name": "paid",
						"description": "Paid or unpaid Absences",
						"type": "boolean",
						"required": false
					},
					{
						"in": "query",
						"name": "attachment",
						"description": "Attached file -           'true' returns only those absences which have attachment;           'false' returns only those absences which do not have attachment;           'empty value' returns all absences regardless of attachments",
						"type": "boolean",
						"required": false
					},
					{
						"in": "query",
						"name": "starts_at",
						"description": "Start of absence",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "ends_at",
						"description": "End of absence",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "order_key",
						"description": "Sort Absences",
						"type": "string",
						"default": "starts_at",
						"enum": ["id", "starts_at"],
						"required": false
					},
					{
						"in": "query",
						"name": "order_dir",
						"description": "Sort Absences",
						"type": "string",
						"default": "desc",
						"enum": ["asc", "desc"],
						"required": false
					},
					{
						"in": "query",
						"name": "include_deleted_staff_shifts_info",
						"description": "Include deleted staff shifts information",
						"type": "boolean",
						"default": "false",
						"required": false
					},
					{
						"in": "query",
						"name": "extended_info",
						"description": "Paid or unpaid Absences",
						"type": "boolean",
						"default": true,
						"required": false
					}
				],
				"responses": {
					"200": {
						"description": "Successfully listed",
						"schema": { "$ref": "#/definitions/V1_AbsenceResponseEntity_AbsenceIndexResponse" }
					},
					"401": {
						"description": "401 Unauthorized",
						"schema": { "$ref": "#/definitions/V1_Entities_UnauthorizedError" }
					}
				},
				"tags": ["absences"],
				"operationId": "getApiV1Absences"
			},
			"post": {
				"description": "Create an Absence",
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "formData",
						"name": "starts_at",
						"description": "Start of Absence.",
						"type": "string",
						"format": "date-time",
						"required": true
					},
					{
						"in": "formData",
						"name": "ends_at",
						"description": "End of Absence.",
						"type": "string",
						"format": "date-time",
						"required": true
					},
					{
						"in": "formData",
						"name": "employment_id",
						"description": "Employment ID",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "formData",
						"name": "absence_reason_id",
						"description": "Absence Reason ID",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "formData",
						"name": "days",
						"description": "Number of days from Absence.",
						"type": "number",
						"format": "float",
						"required": true
					},
					{
						"in": "formData",
						"name": "paid",
						"description": "Defines if Absence is paid.",
						"type": "boolean",
						"required": true
					},
					{
						"in": "formData",
						"name": "state",
						"description": "Initial State of Absence.",
						"type": "string",
						"default": "new",
						"enum": ["new", "refused", "accepted", "withdrawn"],
						"required": false
					},
					{
						"in": "formData",
						"name": "notes",
						"description": "Note of Absence.",
						"type": "string",
						"required": false
					},
					{
						"in": "formData",
						"name": "is_full_day",
						"description": "Is the Absence for the full day(s).",
						"type": "boolean",
						"default": true,
						"required": false
					},
					{
						"in": "formData",
						"name": "force_collision",
						"description": "Create absences even when conflicts exists when set to true.",
						"type": "boolean",
						"required": false
					},
					{
						"in": "formData",
						"name": "force_collision_and_remove",
						"description": "Remove staff from conflicting Shifts.",
						"type": "boolean",
						"required": false
					},
					{
						"in": "formData",
						"name": "file",
						"description": "Attachment file (\u003c= 5MB)",
						"type": "file",
						"required": false
					}
				],
				"responses": {
					"201": {
						"description": "Successfully updated",
						"schema": { "$ref": "#/definitions/V1_AbsenceResponseEntity_AbsenceResponse" }
					},
					"401": {
						"description": "401 Unauthorized",
						"schema": { "$ref": "#/definitions/V1_Entities_UnauthorizedError" }
					},
					"404": {
						"description": "Couldn't find absence",
						"schema": { "$ref": "#/definitions/V1_Entities_NotFoundError" }
					},
					"404.1": {
						"description": "Couldn't find Employment",
						"schema": { "$ref": "#/definitions/V1_Entities_NotFoundError" }
					},
					"422": {
						"description": "The request is invalid",
						"schema": { "$ref": "#/definitions/V1_AbsenceResponseEntity_NotSupportedRangeError" }
					},
					"403": {
						"description": "forbidden",
						"schema": { "$ref": "#/definitions/V1_Entities_Forbidden" }
					}
				},
				"tags": ["absences"],
				"operationId": "postApiV1Absences"
			}
		},
		"/api/v1/absence_reasons": {
			"post": {
				"description": "Create a new Absence Reason.",
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "company_id",
						"description": "ID of a Company.",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "formData",
						"name": "name",
						"description": "Name of the Absence Reason.",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "short_name",
						"description": "Short name of the Absence Reason.",
						"type": "string",
						"required": false
					},
					{
						"in": "formData",
						"name": "days",
						"description": "No of Days of the Absence Reason.",
						"type": "number",
						"format": "float",
						"required": true
					},
					{
						"in": "formData",
						"name": "carry_over_days_enabled",
						"description": "Can Carry leftover absence days to the next year?",
						"type": "boolean",
						"default": false,
						"required": false
					},
					{
						"in": "formData",
						"name": "carry_over_days_deadline",
						"description": "Expiration date of carry over absence days.",
						"type": "string",
						"required": false
					},
					{
						"in": "formData",
						"name": "calculation_type",
						"description": "Absence days calculation type.",
						"type": "string",
						"default": "standard",
						"enum": ["standard", "shift_hours", "shifts_count"],
						"required": true
					},
					{
						"in": "formData",
						"name": "hours_calculation_type",
						"description": "Absence hours calculation type.",
						"type": "string",
						"default": "employee_profile",
						"enum": ["employee_profile", "scheduled_shifts"],
						"required": true
					},
					{
						"in": "formData",
						"name": "is_absence_attachments_allowed",
						"description": "Allow Attachments?",
						"type": "boolean",
						"default": false,
						"required": false
					}
				],
				"responses": {
					"201": {
						"description": "Success",
						"schema": { "$ref": "#/definitions/V1_Entities_ResponseSuccess" }
					},
					"401": {
						"description": "Unauthorized",
						"schema": { "$ref": "#/definitions/V1_Entities_UnauthorizedError" }
					},
					"404": {
						"description": "Company not found",
						"schema": { "$ref": "#/definitions/V1_Entities_NotFoundError" }
					},
					"422": {
						"description": "Invalid request",
						"schema": { "$ref": "#/definitions/V1_Entities_Invalid" }
					}
				},
				"tags": ["absence_reasons"],
				"operationId": "postApiV1AbsenceReasons"
			},
			"get": {
				"description": "List all Absence Reasons.",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "page",
						"description": "Pages starts with 1",
						"type": "integer",
						"format": "int32",
						"default": 1,
						"required": false
					},
					{
						"in": "query",
						"name": "per_page",
						"description": "Between 1 and 1000",
						"type": "integer",
						"format": "int32",
						"default": 1000,
						"required": false
					},
					{
						"in": "query",
						"name": "company_id",
						"description": "Filter for single Company ID",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "query",
						"name": "company_ids[]",
						"description": "Filter for an array of Company ID",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"collectionFormat": "multi",
						"required": false
					}
				],
				"responses": { "200": { "description": "List all Absence Reasons." } },
				"tags": ["absence_reasons"],
				"operationId": "getApiV1AbsenceReasons"
			}
		},
		"/api/v1/absence_reasons/stats": {
			"get": {
				"description": "Return aggregated absence days for each absence reason",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"description": "Company ID",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "query",
						"name": "starts_at",
						"description": "Start of the search period.",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "ends_at",
						"description": "End of the search period.",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "employment_id",
						"description": "Employment ID",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "query",
						"name": "location_ids[]",
						"description": "Filter for an array Location ID",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"collectionFormat": "multi",
						"required": false
					},
					{
						"in": "query",
						"name": "attachment",
						"description": "Filter for attached file -           'true' filters for only those absences which have attachment;           'false' filters for only those absences which do not have attachment;           'empty value' filters for all absences regardless of attachments",
						"type": "boolean",
						"required": false
					}
				],
				"responses": {
					"200": {
						"description": "",
						"schema": { "$ref": "#/definitions/V1_AbsenceReasons_Entities_AbsenceReasonsStats" }
					},
					"404": {
						"description": "Employment not found",
						"schema": { "$ref": "#/definitions/V1_Entities_NotFoundError" }
					},
					"403": {
						"description": "forbidden",
						"schema": { "$ref": "#/definitions/V1_Entities_Forbidden" }
					}
				},
				"tags": ["absence_reasons"],
				"operationId": "getApiV1AbsenceReasonsStats"
			}
		},
		"/api/v1/absence_reasons/{id}": {
			"delete": {
				"description": "Delete an Absence Reason.",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "path",
						"name": "id",
						"description": "Absence Reason ID.",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"description": "ID of a Company.",
						"type": "integer",
						"format": "int32",
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "Successfully deleted Absence Reason.",
						"schema": { "$ref": "#/definitions/V1_Entities_ResponseSuccess" }
					},
					"401": {
						"description": "Unauthorized",
						"schema": { "$ref": "#/definitions/V1_Entities_UnauthorizedError" }
					},
					"404": {
						"description": "AbsenceReason not found\\nCompany not found",
						"schema": { "$ref": "#/definitions/V1_Entities_NotFoundError" }
					}
				},
				"tags": ["absence_reasons"],
				"operationId": "deleteApiV1AbsenceReasonsId"
			},
			"put": {
				"description": "Update an Absence Reason.",
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "path",
						"name": "id",
						"description": "Absence Reason ID.",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "formData",
						"name": "company_id",
						"description": "ID of a Company.",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "formData",
						"name": "name",
						"description": "Name of the Absence Reason.",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "short_name",
						"description": "Short name of the Absence Reason.",
						"type": "string",
						"required": false
					},
					{
						"in": "formData",
						"name": "days",
						"description": "No of Days of the Absence Reason.",
						"type": "number",
						"format": "float",
						"required": true
					},
					{
						"in": "formData",
						"name": "carry_over_days_enabled",
						"description": "Can Carry leftover absence days to the next year?",
						"type": "boolean",
						"default": false,
						"required": false
					},
					{
						"in": "formData",
						"name": "carry_over_days_deadline",
						"description": "Expiration date of carry over absence days.",
						"type": "string",
						"required": false
					},
					{
						"in": "formData",
						"name": "calculation_type",
						"description": "Absence days calculation type.",
						"type": "string",
						"default": "standard",
						"enum": ["standard", "shift_hours", "shifts_count"],
						"required": true
					},
					{
						"in": "formData",
						"name": "hours_calculation_type",
						"description": "Absence hours calculation type.",
						"type": "string",
						"default": "employee_profile",
						"enum": ["employee_profile", "scheduled_shifts"],
						"required": true
					},
					{
						"in": "formData",
						"name": "is_absence_attachments_allowed",
						"description": "Allow Attachments?",
						"type": "boolean",
						"default": false,
						"required": false
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"schema": { "$ref": "#/definitions/V1_Entities_ResponseSuccess" }
					},
					"401": {
						"description": "Unauthorized",
						"schema": { "$ref": "#/definitions/V1_Entities_UnauthorizedError" }
					},
					"404": {
						"description": "AbsenceReason not found\\nCompany not found",
						"schema": { "$ref": "#/definitions/V1_Entities_NotFoundError" }
					},
					"422": {
						"description": "Invalid request",
						"schema": { "$ref": "#/definitions/V1_Entities_Invalid" }
					}
				},
				"tags": ["absence_reasons"],
				"operationId": "putApiV1AbsenceReasonsId"
			},
			"get": {
				"description": "Return a Absence Reason.",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "path",
						"name": "id",
						"description": "Absence Reason ID.",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"description": "ID of a Company.",
						"type": "integer",
						"format": "int32",
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"schema": { "$ref": "#/definitions/V1_AbsenceReasons_Entities_AbsenceReasonResponse" }
					},
					"401": {
						"description": "Unauthorized",
						"schema": { "$ref": "#/definitions/V1_Entities_UnauthorizedError" }
					},
					"404": {
						"description": "AbsenceReason not found\\nCompany not found",
						"schema": { "$ref": "#/definitions/V1_Entities_NotFoundError" }
					}
				},
				"tags": ["absence_reasons"],
				"operationId": "getApiV1AbsenceReasonsId"
			}
		},
		"/api/v1/assignment_groups": {
			"post": {
				"description": "Create a new AssignmentGroup",
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "shiftplan_id",
						"description": "Shiftplan ID",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "company_id",
						"description": "Company ID",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "formData",
						"name": "name",
						"description": "Name",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "metadata",
						"description": "AssignmentGroup metadata as json",
						"type": "json",
						"required": false
					}
				],
				"responses": {
					"201": {
						"description": "Successfully created",
						"schema": {
							"$ref": "#/definitions/V1_AssignmentGroupResponseEntity_AssignmentGroupResponse"
						}
					},
					"404": {
						"description": "Couldn't find Company\\nCouldn't find Shiftplan",
						"schema": { "$ref": "#/definitions/V1_Entities_NotFoundError" }
					},
					"422": {
						"description": "Name is already taken\\nShiftplan is locked",
						"schema": { "$ref": "#/definitions/V1_Entities_Invalid" }
					},
					"403": {
						"description": "forbidden",
						"schema": { "$ref": "#/definitions/V1_Entities_Forbidden" }
					}
				},
				"tags": ["assignment_groups"],
				"operationId": "postApiV1AssignmentGroups"
			},
			"get": {
				"description": "List all AssignmentGroups.",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "query",
						"name": "page",
						"description": "Pages starts with 1",
						"type": "integer",
						"format": "int32",
						"default": 1,
						"required": false
					},
					{
						"in": "query",
						"name": "per_page",
						"description": "Between 1 and 1000",
						"type": "integer",
						"format": "int32",
						"default": 1000,
						"required": false
					},
					{
						"in": "query",
						"name": "updated_after",
						"description": "Return all records which are updated after",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "created_after",
						"description": "Return all records which are created after",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "updated_before",
						"description": "Return all records which are updated before",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "created_before",
						"description": "Return all records which are created before",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "id",
						"description": "Filter for single AssignmentGroup ID",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "query",
						"name": "ids[]",
						"description": "Filter an array of AssignmentGroup ID",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"collectionFormat": "multi",
						"required": false
					},
					{
						"in": "query",
						"name": "shiftplan_id",
						"description": "Filter for single Shiftplan ID",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "query",
						"name": "shiftplan_ids[]",
						"description": "Filter an array of Shiftplan ID",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"collectionFormat": "multi",
						"required": false
					}
				],
				"responses": { "200": { "description": "List all AssignmentGroups." } },
				"tags": ["assignment_groups"],
				"operationId": "getApiV1AssignmentGroups"
			}
		},
		"/api/v1/assignment_groups/{id}/unassign_employment": {
			"post": {
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "company_id",
						"description": "Company ID",
						"type": "string",
						"required": true
					},
					{
						"in": "path",
						"name": "id",
						"description": "AssignmentGroup ID",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "employment_id",
						"description": "Employment ID",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "start_date",
						"description": "Start Date to Filter shifts to in ISO 8601 format with time and UTC offset",
						"type": "string",
						"format": "date-time",
						"required": true
					},
					{
						"in": "formData",
						"name": "end_date",
						"description": "End Date to Filter shifts to in ISO 8601 format with time and UTC offset",
						"type": "string",
						"format": "date-time",
						"required": true
					}
				],
				"responses": { "201": { "description": "created UnassignEmployment" } },
				"tags": ["assignment_groups"],
				"operationId": "postApiV1AssignmentGroupsIdUnassignEmployment"
			}
		},
		"/api/v1/assignment_groups/{id}": {
			"put": {
				"description": "Update an existing AssignmentGroup",
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "path",
						"name": "id",
						"description": "AssignmentGroup ID",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "company_id",
						"description": "Company ID",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "formData",
						"name": "name",
						"description": "Name",
						"type": "string",
						"required": false
					},
					{
						"in": "formData",
						"name": "metadata",
						"description": "AssignmentGroup metadata as json",
						"type": "json",
						"required": false
					}
				],
				"responses": {
					"200": {
						"description": "Successfully created",
						"schema": {
							"$ref": "#/definitions/V1_AssignmentGroupResponseEntity_AssignmentGroupResponse"
						}
					},
					"404": {
						"description": "Couldn't find Company\\nCouldn't find Assignment Group",
						"schema": { "$ref": "#/definitions/V1_Entities_NotFoundError" }
					},
					"422": {
						"description": "Name is already taken\\nShiftplan is locked",
						"schema": { "$ref": "#/definitions/V1_Entities_Invalid" }
					},
					"403": {
						"description": "forbidden",
						"schema": { "$ref": "#/definitions/V1_Entities_Forbidden" }
					}
				},
				"tags": ["assignment_groups"],
				"operationId": "putApiV1AssignmentGroupsId"
			},
			"delete": {
				"description": "Delete an AssignmentGroup",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "path",
						"name": "id",
						"description": "AssignmentGroup id",
						"type": "integer",
						"format": "int32",
						"required": true
					}
				],
				"responses": { "204": { "description": "Delete an AssignmentGroup" } },
				"tags": ["assignment_groups"],
				"operationId": "deleteApiV1AssignmentGroupsId"
			},
			"get": {
				"description": "Return an AssignmentGroup.",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "path",
						"name": "id",
						"description": "AssignmentGroup ID",
						"type": "integer",
						"format": "int32",
						"required": true
					}
				],
				"responses": { "200": { "description": "Return an AssignmentGroup." } },
				"tags": ["assignment_groups"],
				"operationId": "getApiV1AssignmentGroupsId"
			}
		},
		"/api/v1/assignment_groups/{id}/assign_employment": {
			"post": {
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "company_id",
						"description": "Company ID",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "start_date",
						"description": "Start Date to Filter shifts to in ISO 8601 format with time and UTC offset",
						"type": "string",
						"format": "date-time",
						"required": true
					},
					{
						"in": "formData",
						"name": "end_date",
						"description": "End Date to Filter shifts to in ISO 8601 format with time and UTC offset",
						"type": "string",
						"format": "date-time",
						"required": true
					},
					{
						"in": "path",
						"name": "id",
						"description": "AssignmentGroup ID",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "employment_id",
						"description": "Employment ID",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "ignore_conflicts",
						"description": "Either true to ignore all conflicts listed below or an Array of specific conflicts to ignore. Only warnings can be ignored, enforced conflicts will persist. Possible values are:\u003cul\u003e \u003cli\u003eshifts_collision\u003c/li\u003e\u003cli\u003eabsences_collision\u003c/li\u003e\u003cli\u003elocations_position_changed\u003c/li\u003e\u003cli\u003eminimum_break\u003c/li\u003e\u003cli\u003emaximum_working_hours\u003c/li\u003e\u003cli\u003eminimum_rest\u003c/li\u003e\u003cli\u003emaximum_earning\u003c/li\u003e\u003cli\u003eoutside_employment_period\u003c/li\u003e\u003cli\u003emaximum_consecutive_working_days\u003c/li\u003e\u003cli\u003erestricted_shift_presets\u003c/li\u003e\u003cli\u003eunavailable\u003c/li\u003e\u003cli\u003enot_available\u003c/li\u003e\u003c/ul\u003e",
						"type": "Object",
						"default": "false",
						"required": false
					}
				],
				"responses": { "201": { "description": "created AssignEmployment" } },
				"tags": ["assignment_groups"],
				"operationId": "postApiV1AssignmentGroupsIdAssignEmployment"
			}
		},
		"/api/v1/assignment_groups/{id}/remove_shift": {
			"put": {
				"description": "Remove AssignmentGroup from a Shift",
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "path",
						"name": "id",
						"description": "AssignmentGroup id",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "formData",
						"name": "shift_id",
						"description": "Shift id",
						"type": "integer",
						"format": "int32",
						"required": true
					}
				],
				"responses": { "200": { "description": "Remove AssignmentGroup from a Shift" } },
				"tags": ["assignment_groups"],
				"operationId": "putApiV1AssignmentGroupsIdRemoveShift"
			}
		},
		"/api/v1/assignment_groups/{id}/add_shift": {
			"put": {
				"description": "Add AssignmentGroup to a Shift",
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "path",
						"name": "id",
						"description": "AssignmentGroup id",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "formData",
						"name": "shift_id",
						"description": "Shift id",
						"type": "integer",
						"format": "int32",
						"required": true
					}
				],
				"responses": { "200": { "description": "Add AssignmentGroup to a Shift" } },
				"tags": ["assignment_groups"],
				"operationId": "putApiV1AssignmentGroupsIdAddShift"
			}
		},
		"/api/v1/availabilities": {
			"get": {
				"description": "List all Availabilities",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "query",
						"name": "page",
						"description": "Pages starts with 1",
						"type": "integer",
						"format": "int32",
						"default": 1,
						"required": false
					},
					{
						"in": "query",
						"name": "per_page",
						"description": "Between 1 and 1000",
						"type": "integer",
						"format": "int32",
						"default": 1000,
						"required": false
					},
					{
						"in": "query",
						"name": "updated_after",
						"description": "Return all records which are updated after",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "created_after",
						"description": "Return all records which are created after",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "updated_before",
						"description": "Return all records which are updated before",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "created_before",
						"description": "Return all records which are created before",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "id",
						"description": "Filter for single Availability ID",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "query",
						"name": "ids[]",
						"description": "Filter an array of Availability ID",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"collectionFormat": "multi",
						"required": false
					},
					{
						"in": "query",
						"name": "employment_id",
						"description": "Filter for single Employment ID",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "query",
						"name": "employment_ids[]",
						"description": "Filter an array of Employment ID",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"collectionFormat": "multi",
						"required": false
					},
					{
						"in": "query",
						"name": "starts_at",
						"description": "Return all availabilities which can be applied to the timeframe. NOTICE: starts_at AND ends_at needs to be set",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "ends_at",
						"description": "Return all availabilities which can be applied to the timeframe. NOTICE: starts_at AND ends_at needs to be set",
						"type": "string",
						"format": "date-time",
						"required": false
					}
				],
				"responses": { "200": { "description": "List all Availabilities" } },
				"tags": ["availabilities"],
				"operationId": "getApiV1Availabilities"
			},
			"post": {
				"description": "Create a new Availability",
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "formData",
						"name": "starts_at",
						"description": "Start of the Availability (rounded to steps of 15 minutes)",
						"type": "string",
						"format": "date-time",
						"required": true
					},
					{
						"in": "formData",
						"name": "ends_at",
						"description": "End of the Availability (rounded to steps of 15 minutes)",
						"type": "string",
						"format": "date-time",
						"required": true
					},
					{
						"in": "formData",
						"name": "override",
						"description": "Destroy conflicting availabilities",
						"type": "boolean",
						"default": false,
						"required": true
					},
					{
						"in": "formData",
						"name": "available",
						"description": "Is the Employee available or inavailable",
						"type": "boolean",
						"default": true,
						"required": true
					},
					{
						"in": "formData",
						"name": "employment_id",
						"description": "Employment ID",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "formData",
						"name": "repeat",
						"description": "Is the Availability weekly repeated",
						"type": "boolean",
						"default": false,
						"required": true
					}
				],
				"responses": { "201": { "description": "Create a new Availability" } },
				"tags": ["availabilities"],
				"operationId": "postApiV1Availabilities"
			}
		},
		"/api/v1/availabilities/exceptions": {
			"get": {
				"description": "List all Availability Exceptions",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "query",
						"name": "page",
						"description": "Pages starts with 1",
						"type": "integer",
						"format": "int32",
						"default": 1,
						"required": false
					},
					{
						"in": "query",
						"name": "per_page",
						"description": "Between 1 and 1000",
						"type": "integer",
						"format": "int32",
						"default": 1000,
						"required": false
					},
					{
						"in": "query",
						"name": "updated_after",
						"description": "Return all records which are updated after",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "created_after",
						"description": "Return all records which are created after",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "updated_before",
						"description": "Return all records which are updated before",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "created_before",
						"description": "Return all records which are created before",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "id",
						"description": "Filter for single AvailabilityException ID",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "query",
						"name": "ids[]",
						"description": "Filter an array of AvailabilityException ID",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"collectionFormat": "multi",
						"required": false
					},
					{
						"in": "query",
						"name": "availability_id",
						"description": "Filter for single Availability ID",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "query",
						"name": "availability_ids[]",
						"description": "Filter an array of Availability ID",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"collectionFormat": "multi",
						"required": false
					}
				],
				"responses": { "200": { "description": "List all Availability Exceptions" } },
				"tags": ["availabilities"],
				"operationId": "getApiV1AvailabilitiesExceptions"
			}
		},
		"/api/v1/availabilities/exceptions/{exception_id}": {
			"delete": {
				"description": "Delete an existing Availability Exception",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "path",
						"name": "exception_id",
						"description": "Availability Exception id",
						"type": "integer",
						"format": "int32",
						"required": true
					}
				],
				"responses": { "204": { "description": "Delete an existing Availability Exception" } },
				"tags": ["availabilities"],
				"operationId": "deleteApiV1AvailabilitiesExceptionsExceptionId"
			},
			"get": {
				"description": "Return a Availability Exception",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "path",
						"name": "exception_id",
						"description": "Availability Exception id",
						"type": "integer",
						"format": "int32",
						"required": true
					}
				],
				"responses": { "200": { "description": "Return a Availability Exception" } },
				"tags": ["availabilities"],
				"operationId": "getApiV1AvailabilitiesExceptionsExceptionId"
			}
		},
		"/api/v1/availabilities/{availability_id}": {
			"delete": {
				"description": "Delete an existing Availability",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "path",
						"name": "availability_id",
						"description": "Availability id",
						"type": "integer",
						"format": "int32",
						"required": true
					}
				],
				"responses": { "204": { "description": "Delete an existing Availability" } },
				"tags": ["availabilities"],
				"operationId": "deleteApiV1AvailabilitiesAvailabilityId"
			},
			"put": {
				"description": "Update an existing Availability",
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "path",
						"name": "availability_id",
						"description": "Availability id",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "formData",
						"name": "starts_at",
						"description": "Start of the Availability (rounded to steps of 15 minutes)",
						"type": "string",
						"format": "date-time",
						"required": true
					},
					{
						"in": "formData",
						"name": "ends_at",
						"description": "End of the Availability (rounded to steps of 15 minutes)",
						"type": "string",
						"format": "date-time",
						"required": true
					},
					{
						"in": "formData",
						"name": "override",
						"description": "Destroy conflicting availabilities",
						"type": "boolean",
						"default": false,
						"required": true
					},
					{
						"in": "formData",
						"name": "available",
						"description": "Is the Employee available or inavailable",
						"type": "boolean",
						"default": true,
						"required": true
					},
					{
						"in": "formData",
						"name": "update_all",
						"description": "Set to true to update all records of repeating event",
						"type": "boolean",
						"default": true,
						"required": true
					}
				],
				"responses": { "200": { "description": "Update an existing Availability" } },
				"tags": ["availabilities"],
				"operationId": "putApiV1AvailabilitiesAvailabilityId"
			},
			"get": {
				"description": "Return a Availability",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "path",
						"name": "availability_id",
						"description": "Availability id",
						"type": "integer",
						"format": "int32",
						"required": true
					}
				],
				"responses": { "200": { "description": "Return a Availability" } },
				"tags": ["availabilities"],
				"operationId": "getApiV1AvailabilitiesAvailabilityId"
			}
		},
		"/api/v1/availabilities/{availability_id}/exceptions": {
			"get": {
				"description": "List all Availability Exceptions for parent Availability",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "path",
						"name": "availability_id",
						"description": "Availability id",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "query",
						"name": "page",
						"description": "Pages starts with 1",
						"type": "integer",
						"format": "int32",
						"default": 1,
						"required": false
					},
					{
						"in": "query",
						"name": "per_page",
						"description": "Between 1 and 1000",
						"type": "integer",
						"format": "int32",
						"default": 1000,
						"required": false
					}
				],
				"responses": {
					"200": { "description": "List all Availability Exceptions for parent Availability" }
				},
				"tags": ["availabilities"],
				"operationId": "getApiV1AvailabilitiesAvailabilityIdExceptions"
			},
			"post": {
				"description": "Create a new Availability Exception",
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "company_id",
						"type": "integer",
						"format": "int32",
						"required": false
					},
					{
						"in": "path",
						"name": "availability_id",
						"description": "Availability id",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "formData",
						"name": "starts_at",
						"description": "Start of the selected Availability out of a repeated Availability which should be counted as an exception (must fit the exact availability start)",
						"type": "string",
						"format": "date-time",
						"required": true
					},
					{
						"in": "formData",
						"name": "ends_at",
						"description": "End of the selected Availability out of a repeated Availability which should be counted as an exception (must fit the exact availability start)",
						"type": "string",
						"format": "date-time",
						"required": true
					}
				],
				"responses": { "201": { "description": "Create a new Availability Exception" } },
				"tags": ["availabilities"],
				"operationId": "postApiV1AvailabilitiesAvailabilityIdExceptions"
			}
		},
		"/api/v1/availability_aggregations": {
			"get": {
				"description": "Gets all availabilities aggregated",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "page",
						"description": "Pages starts with 1",
						"type": "integer",
						"format": "int32",
						"default": 1,
						"required": false
					},
					{
						"in": "query",
						"name": "per_page",
						"description": "Between 1 and 1000",
						"type": "integer",
						"format": "int32",
						"default": 1000,
						"required": false
					},
					{
						"in": "query",
						"name": "company_id",
						"description": "Company ID",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "starts_at",
						"description": "Start of time frame in ISO 8601 format with time and UTC offset (time is nullified)",
						"type": "string",
						"format": "date-time",
						"required": true
					},
					{
						"in": "query",
						"name": "ends_at",
						"description": "End of time frame in ISO 8601 format with time and UTC offset (time is nullified)",
						"type": "string",
						"format": "date-time",
						"required": true
					},
					{
						"in": "query",
						"name": "location_ids[]",
						"description": "Array of Location ID",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"collectionFormat": "multi",
						"required": false
					},
					{
						"in": "query",
						"name": "position_ids[]",
						"description": "Array of Position ID",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"collectionFormat": "multi",
						"required": false
					},
					{
						"in": "query",
						"name": "employment_ids[]",
						"description": "Array of Employment ID",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"collectionFormat": "multi",
						"required": false
					},
					{
						"in": "query",
						"name": "order_key",
						"description": "Sort keys",
						"type": "string",
						"default": "employee_last_name",
						"enum": ["employee_last_name", "available_hours", "contract_hours"],
						"required": false
					},
					{
						"in": "query",
						"name": "order_dir",
						"description": "Sort direction",
						"type": "string",
						"default": "desc",
						"enum": ["asc", "desc"],
						"required": false
					}
				],
				"responses": {
					"200": {
						"description": "Successfully connected",
						"schema": { "$ref": "#/definitions/V1_AvailabilityAggregationIndexResponseEntity" }
					},
					"404": {
						"description": "Couldn't find Company",
						"schema": { "$ref": "#/definitions/V1_Entities_NotFoundError" }
					},
					"422": {
						"description": "The request is invalid\\nStart date should be earlier than end date\\nCurrent company cannot be blank",
						"schema": { "$ref": "#/definitions/V1_Entities_Invalid" }
					},
					"403": {
						"description": "forbidden",
						"schema": { "$ref": "#/definitions/V1_Entities_Forbidden" }
					}
				},
				"tags": ["availability_aggregations"],
				"operationId": "getApiV1AvailabilityAggregations"
			}
		},
		"/api/v1/background_jobs": {
			"get": {
				"description": "Return list of Background Jobs. Background jobs are deleted after 14 days.",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "page",
						"description": "Pages starts with 1",
						"type": "integer",
						"format": "int32",
						"default": 1,
						"required": false
					},
					{
						"in": "query",
						"name": "per_page",
						"description": "Between 1 and 1000",
						"type": "integer",
						"format": "int32",
						"default": 1000,
						"required": false
					},
					{
						"in": "query",
						"name": "company_id",
						"description": "Company ID for which we need to fetch the Background Jobs",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "query",
						"name": "created_after",
						"description": "Filter by created_after",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "updated_after",
						"description": "Filter by updated_after",
						"type": "string",
						"format": "date-time",
						"required": false
					},
					{
						"in": "query",
						"name": "ids[]",
						"description": "Background Job IDs",
						"type": "array",
						"items": { "type": "string" },
						"collectionFormat": "multi",
						"required": false
					}
				],
				"responses": {
					"200": {
						"description": "Successfully listed",
						"schema": { "$ref": "#/definitions/V1_BackgroundJobIndexResponseEntity" }
					},
					"401": {
						"description": "401 Unauthorized",
						"schema": { "$ref": "#/definitions/V1_Entities_UnauthorizedError" }
					},
					"404": {
						"description": "Couldn't find Company",
						"schema": { "$ref": "#/definitions/V1_Entities_NotFoundError" }
					}
				},
				"tags": ["background_jobs"],
				"operationId": "getApiV1BackgroundJobs"
			}
		},
		"/api/v1/background_jobs/{id}": {
			"get": {
				"description": "Return a Background Job. Background jobs are deleted after 14 days.",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "path",
						"name": "id",
						"description": "Background Job ID",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"description": "Company ID for which we need to fetch the Background Job",
						"type": "integer",
						"format": "int32",
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "Successfully listed",
						"schema": { "$ref": "#/definitions/V1_BackgroundJobResponseEntity" }
					},
					"401": {
						"description": "401 Unauthorized",
						"schema": { "$ref": "#/definitions/V1_Entities_UnauthorizedError" }
					},
					"404": {
						"description": "Couldn't find Company\\nBackground Job not found",
						"schema": { "$ref": "#/definitions/V1_Entities_NotFoundError" }
					}
				},
				"tags": ["background_jobs"],
				"operationId": "getApiV1BackgroundJobsId"
			}
		},
		"/api/v1/bulk_requests": {
			"post": {
				"description": "Make bulk calls in the API",
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "company_id",
						"description": "Company ID",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "payload[][path]",
						"description": "Path to the individual API",
						"type": "array",
						"required": true,
						"items": { "type": "string" }
					},
					{
						"in": "formData",
						"name": "payload[][method]",
						"description": "HTTP methods. Currently only DELETE, PATCH and POST.",
						"type": "array",
						"default": "DELETE",
						"required": true,
						"items": { "type": "string", "enum": ["DELETE", "PATCH", "POST"] }
					},
					{
						"in": "formData",
						"name": "payload[][data]",
						"description": "Data to change.",
						"type": "array",
						"required": false,
						"items": { "type": "json" }
					},
					{
						"in": "formData",
						"name": "payload[][ids][]",
						"description": "Ids of the objects",
						"type": "array",
						"items": { "type": "integer", "format": "int32" },
						"required": false
					},
					{
						"in": "formData",
						"name": "payload[][group_id]",
						"description": "Group Id",
						"type": "array",
						"required": false,
						"items": { "type": "integer", "format": "int32" }
					}
				],
				"responses": {
					"201": {
						"description": "Successfully created",
						"schema": {
							"$ref": "#/definitions/V1_BulkRequestResponseEntity_BulkRequestResponseEntity"
						}
					},
					"404": {
						"description": "Company not found",
						"schema": { "$ref": "#/definitions/V1_Entities_NotFoundError" }
					},
					"422.1": {
						"description": "Payload must be an array of hashes",
						"schema": {
							"$ref": "#/definitions/V1_BulkRequestResponseEntity_PayloadMustBeArrayErrorDetails"
						}
					},
					"422.2": {
						"description": "The maximum amount of payload for bulk requests is 100 requests",
						"schema": {
							"$ref": "#/definitions/V1_BulkRequestResponseEntity_MaximumAmountOfPayloadRequestsError"
						}
					},
					"422.3": {
						"description": "One or more of the requests is invalid",
						"schema": { "$ref": "#/definitions/V1_BulkRequestResponseEntity_InvalidPayloadError" }
					},
					"422.4": {
						"description": "This payload is not in the correct format",
						"schema": {
							"$ref": "#/definitions/V1_BulkRequestResponseEntity_IncorrectPayloadFormatError"
						}
					},
					"422.5": {
						"description": "This change is not allowed",
						"schema": { "$ref": "#/definitions/V1_BulkRequestResponseEntity_NotAllowedChangeError" }
					},
					"401": {
						"description": "Unauthorized",
						"schema": { "$ref": "#/definitions/V1_Entities_UserUnauthorizedError" }
					},
					"403": {
						"description": "forbidden",
						"schema": { "$ref": "#/definitions/V1_Entities_ForbiddenError" }
					}
				},
				"tags": ["bulk_requests"],
				"operationId": "postApiV1BulkRequests"
			}
		},
		"/api/v1/bulk_requests/{id}": {
			"get": {
				"description": "Return a Bulk Request",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "company_id",
						"description": "Company ID",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "path",
						"name": "id",
						"description": "Bulk Request ID",
						"type": "string",
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "Successfully returned a Bulk Request",
						"schema": {
							"$ref": "#/definitions/V1_BulkRequestResponseEntity_BulkRequestResponseEntity"
						}
					},
					"404": {
						"description": "Company not found",
						"schema": { "$ref": "#/definitions/V1_Entities_NotFoundError" }
					},
					"403.1": {
						"description": "Must have made the bulk request to access",
						"schema": {
							"$ref": "#/definitions/V1_BulkRequestResponseEntity_MustBeTheSameEmploymentError"
						}
					},
					"401": {
						"description": "Unauthorized",
						"schema": { "$ref": "#/definitions/V1_Entities_UserUnauthorizedError" }
					},
					"403.2": {
						"description": "forbidden",
						"schema": { "$ref": "#/definitions/V1_Entities_ForbiddenError" }
					}
				},
				"tags": ["bulk_requests"],
				"operationId": "getApiV1BulkRequestsId"
			}
		},
		"/api/v1/chat_messages/employments": {
			"get": {
				"description": "List of employments you can chat",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{ "in": "query", "name": "company_id", "type": "string", "required": true }
				],
				"responses": { "200": { "description": "List of employments you can chat" } },
				"tags": ["chat_messages"],
				"operationId": "getApiV1ChatMessagesEmployments"
			}
		},
		"/api/v1/chat_messages/chats": {
			"get": {
				"description": "List of chats",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{ "in": "query", "name": "company_id", "type": "string", "required": true }
				],
				"responses": { "200": { "description": "List of chats" } },
				"tags": ["chat_messages"],
				"operationId": "getApiV1ChatMessagesChats"
			}
		},
		"/api/v1/chat_messages": {
			"get": {
				"description": "List of messages in a chat",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{ "in": "query", "name": "company_id", "type": "string", "required": true },
					{
						"in": "query",
						"name": "recipient_type",
						"type": "string",
						"enum": ["Employment", "LocationsPosition", "Location"],
						"required": true
					},
					{
						"in": "query",
						"name": "recipient_id",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{
						"in": "query",
						"name": "last_message_id",
						"type": "integer",
						"format": "int32",
						"required": false
					}
				],
				"responses": { "200": { "description": "List of messages in a chat" } },
				"tags": ["chat_messages"],
				"operationId": "getApiV1ChatMessages"
			},
			"post": {
				"description": "Send a message",
				"produces": ["application/json"],
				"consumes": ["application/json"],
				"parameters": [
					{
						"in": "formData",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "formData",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{ "in": "formData", "name": "company_id", "type": "string", "required": true },
					{
						"in": "formData",
						"name": "recipient_type",
						"type": "string",
						"enum": ["Employment", "LocationsPosition", "Location"],
						"required": true
					},
					{
						"in": "formData",
						"name": "recipient_id",
						"type": "integer",
						"format": "int32",
						"required": true
					},
					{ "in": "formData", "name": "message", "type": "string", "required": true }
				],
				"responses": { "201": { "description": "Send a message" } },
				"tags": ["chat_messages"],
				"operationId": "postApiV1ChatMessages"
			}
		},
		"/api/v1/calendar/aggregations": {
			"get": {
				"description": "Display aggregations of shifts and absences",
				"produces": ["application/json"],
				"parameters": [
					{
						"in": "query",
						"name": "user_email",
						"description": "E-Mail of user",
						"type": "string",
						"required": true
					},
					{
						"in": "query",
						"name": "authentication_token",
						"description": "Authentication Token - can be fetched by login action",
						"type": "string",
						"required": true
					},
					{ "in": "query", "name": "company_id", "type": "string", "required": true },
					{
						"in": "query",
						"name": "start_date",
						"description": "Start date for aggregation",
						"type": "string",
						"format": "date",
						"required": true
					},
					{
						"in": "query",
						"name": "end_date",
[...]
